[*.cs]

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = silent

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = silent

# IDE0047: Remove unnecessary parentheses
dotnet_diagnostic.IDE0047.severity = silent

# IDE0078: Use pattern matching
dotnet_diagnostic.IDE0078.severity = silent

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = silent
