[*.cs]

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = silent

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = silent

# IDE0047: Remove unnecessary parentheses
dotnet_diagnostic.IDE0047.severity = silent

# IDE0078: Use pattern matching
dotnet_diagnostic.IDE0078.severity = silent

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = silent

# IDE0017: Simplify object initialization
dotnet_diagnostic.IDE0017.severity = silent

# IDE0180: Use tuple to swap values
dotnet_diagnostic.IDE0180.severity = silent

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = silent

# CA1507: Use nameof to express symbol names
dotnet_diagnostic.CA1507.severity = silent

# SYSLIB1054: Use 'LibraryImportAttribute' instead of 'DllImportAttribute' to generate P/Invoke marshalling code at compile time
dotnet_diagnostic.SYSLIB1054.severity = silent

# IDE0251: Make member 'readonly'
dotnet_diagnostic.IDE0251.severity = silent
